<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Please enter following details </h6>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="signupcss ">
            <div class="mb-3 ">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="signupForm.hasError('pattern','fullname')">*Must be in Alphabets</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mobile number</label>
              <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="signupForm.hasError('pattern','mobile')"> Mobile number must be of 10
                digits</span>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <span class="text-danger" *ngIf="signupForm.controls['email'].errors?.['email']"> Please enter valid Email
                address</span>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="signupForm.hasError('pattern','password')">Password must of 6 to 8 characters</span>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sing Up</button>
          </form><br>&nbsp;&nbsp;
          <a routerLink="/login">Already Registered</a><br>
        </form>
      </div>
    </div>
  </div>
</div>