.signupcss{
    border: width 50px;;
    border: black;
    width: 500px;
    padding: 40px;
    margin-top: 24px;
    justify-content: center;
}

.container{
   justify-content: center;
   margin-left: 467px;
}

.card{
    display: flex;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 60px;
    align-items: center;
}