.edit{
    background-color: rgb(246, 246, 248);
    border-color: black;
    margin: 2px;
    color: rgb(8, 8, 8);
}

.edit:hover{
    background-color: rgb(60, 174, 212);
    color: white;
}
.delete{
    background-color: rgb(246, 246, 248);
    border-color: black;
    margin: 4px;
    color: rgb(8, 8, 8);
}
.delete:hover{
    background-color: red;
    color: white;
}
.add_emp{
    background-color: rgb(251, 255, 5);
    color: rgb(248, 232, 9);
    border-color: black;
    
}
.navbar{
    background-color: rgb(33, 4, 71);
   
}
.container-fluid{
    color: aliceblue;
}